.btn_defAnswer {
    -fx-background-color:
            linear-gradient(#0587ff, #1e66ff),
            linear-gradient(#48a8ff, #0393ff),
            linear-gradient(#6cbbf6, #48a8ff),
            linear-gradient(#48a8ff 0%, #0393ff 50%, #0587ff 100%),
            linear-gradient(from 0% 0% to 15% 50%, rgba(131, 240, 255, 0.9), rgba(255, 255, 255, 0));
}
.btn_chosenAnswer {
    -fx-background-color: #dab914;
}

.btn_wrongAnswer {
    -fx-background-color: #da1926;
}
.btn_rightAnswer {
    -fx-background-color: #009900;
}

.btn_baseAnswers {
    -fx-min-width: 350;
    -fx-min-height: 50;
    -fx-font-size: 20;
    -fx-background-radius: 30;
    -fx-background-insets: 0, 1, 2, 3, 0;
    -fx-text-fill: #cbebf0;
    -fx-font-weight: bold;
}

.menu {
    -fx-font-family: "Comic Sans MS";
    -fx-background-image: url('../img/background-menu.jpg');
}
.game {
    -fx-font-family: "Comic Sans MS";
    -fx-background-image: url('../img/background-game.png');
}
#vbox_players {
    -fx-font-size: 24;
}

#btn_start {
    -fx-focus-traversable: false;
    -fx-background-color:
            linear-gradient(#ffd65b, #e68400),
            linear-gradient(#ffef84, #f2ba44),
            linear-gradient(#ffea6a, #efaa22),
            linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%),
            linear-gradient(from 0% 0% to 15% 50%, rgba(254, 255, 221, 0.9), rgba(255, 255, 255, 0));
    -fx-background-radius: 30;
    -fx-background-insets: 0, 1, 2, 3, 0;
    -fx-text-fill: #654b00;
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-padding: 10 20 10 20;
}
